body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-container {
    display: flex;
    width: 80%;
    width: 800px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .login-form {
    flex: 1;
    padding: 40px;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .login-image {
    flex: 1;
    background-image: url('path/to/your/image.jpg');
    background-size: cover;
    background-position: center;
  }

  .options{
    display: flex;
    justify-content: right;
    padding-bottom: 2rem;
  }
  .options>p{
    display: flex;
    justify-content: right;
    padding-bottom: 2rem;
    padding-right: 1rem;
    
  }

  .account-content>h1{
   text-align: center;
   padding-bottom: 2rem;
  }